footer {
    background: #334155;
    
    
    
    
   
    .footer-inner {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1440px;

        div {
            margin: 24px;
        }

        .footer-btn {
            height: 20px;
           padding: 3px 4px 4px 2px;
            border-radius: 4px;
            background: #E0E7FF;


        }
        
        .list {
            color: #FFF;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            padding: 12px 12px;
            margin-right: 96px;
            list-style: none;
        }
        .arrow {
            display: flex;
        }

       li {
            color: #E2E8F0;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            padding: 12px;
            list-style: none;
            
        }

    }


    .footer-head {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1440px;
        padding: 24px;


        .paragraf {

            display: flex;
            align-items: center;

            p {
                color: #E2E8F0;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                margin-right: 32px; 
                margin-left: 32px;
            }
        }
        
       
    }
    .footer-icon {
        display: flex;
        align-items: center;
       
        
        svg {
            margin-left: 16px;
        }

        .app-store {
            margin-left: 32px;
        }

        .play-market {
            margin-left: 16px;
        }
    }

}

