.section7 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    max-width: 1440px;
    margin: 0 auto;

    h1 {
        @include h1Style;
    }
    h2 {
        @include h2style;
    }

    p {
        margin-top: 32px;
    }

    ul {
        margin-top: 24px;
    }
    p, li {
        @include pstyle; 
        }
    button {
        @include bluebtnstyle; 
    }

    

    .section7-inner-img {
        display: inline-block;
        width: 50%;
        margin-left: 80px;
    }
    .section7-inner-text {
        width: 50%;
        
    } 
    
}