.section9 {
    background: #1E293B;
    

    h1 {
        @include h1Style;
        }

    h2 {
        color: #818CF8;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        }

    p {
        @include pstyle;
        margin-top: 32px;
        }

    button {
        @include bluebtnstyle;
        }



    .section9-inner-img {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 80px 0px 0px 80px;
    }

    .section9-inner-text {
        width: 50%;
        display: inline-block;
        align-self: center;
        
    }

    .section9-inner {
        display: flex;
        justify-content: center;
        max-width: 1440px;
        margin: 0 auto;
    }
}