.section3 {
    text-align: center;
    padding: 80px;
    max-width: 1440px;
    margin: 0 auto;
    
    h1 {
        @include h1Style; 
    }

    h2 {
        @include h2style;
    }

    p {
        @include pstyle;
    }
}