.section12 {
    text-align: center;
    padding: 160px 80px 80px 80px;
    max-width: 1440px;
    margin: 0 auto;
    h1 {
        @include h1Style;
    }
    h2 {
        @include h2style;
    }
    p {
        @include pstyle;
    }

    .blue-btn {
        @include bluebtnstyle;
        width: 256px;
    }

    .btn {
        @include greybtnstyle;
        width: 256px;
    }
}