.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 540px;
    max-width: 1440px;
    margin: 0 auto;

    h1 {
        @include h1Style;
    }
    h2 {
        @include h2style;
    }

    h3 {
        margin-top: 24px;
    }
    ul {
        margin-top: 24px;
    }
    h3, li {
        @include pstyle;
        list-style: none; 
        }

    button {
        @include bluebtnstyle;
    }
    
    .section6-inner-img {
        display: inline-block;
        width: 50%;

        img {
            padding: 12px;
        }

    }
    .section6-inner-text {
        width: 50%;
        margin-left: 80px;
    } 
    
}