.section2 {
    max-width: 1440px;
    margin: 0 auto;

    .section2-inner {
        padding: 80px;
        
        p {
            padding-bottom: 80px;
            color: #CBD5E1;
            text-align: center;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; 
        }
    }

    img {
        margin-left: 80px;
    }
}