.section4 {
    display: flex;
    padding: 80px;
    max-width: 1440px;
    margin: 0 auto;
    
    
    .section4-inner-text {
        width: 50%;
        h1 {
            @include h1Style;
        }
        h2 {
            @include h2style;
        }
        p {
            @include pstyle;
        }
    }

}

.section4-inner-img {
    width: 50%;
    margin-left: 80px;
    
   

    .picture1 {
        display: flex;
        justify-content: start;
        align-self: stretch;
         img:first-child {
            margin-left: 48px;
         }
         img:last-child {
            margin-left: 24px;
         }
        
    }

    .picture2 {
        display: flex;
        justify-content: start;
        margin-top: 24px;

        img:last-child {
            margin-left: 24px;
        }
        
                          
    }
    

}